@model OUDAL.Company

@{
    ViewBag.Title = "公司信息";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
    bool isbooked = false;
    
}
@section Main{

<script type="text/javascript">
$(function(){
    var message='@ViewBag.Message';
    if(message.length>0)
    {
        alert(message);
    }
});

function Delete() {
    var data={id:@Model.Id};
    $.post('../Delete',data,function (data){
        alert(data.obj);
        if(data.success==true){        
            if(data.obj=="已删除"){            
                window.opener.location.href=window.opener.location.href;
                window.close();
            }
            window.location.reload();
        }
    });
}
</script>
<div class="btn-toolbar well">
<div class="btn-group"><button class="btn btn-primary" onclick="OpenLargeWindow('../Edit/@Model.Id');" >修改</button></div>
<div class="btn-group"><button class="btn btn-primary" onclick="Delete();" >删除</button></div>

</div>
    @Html.HiddenFor(model => model.Id)
<div>
    <div >
        <table class="table table-bordered"><col width="80" /><col width="200" />
                
              
                <tr>
                    @Html.MyDisplayFor(m => m.Name)
                </tr>            
            <tr>
                @Html.MyDisplayFor(m => m.AccountNumber)
            </tr>
           
               <tr>
                    @Html.MyDisplayFor(m => m.Remark)
                </tr>
                
        </table> 
    </div>
     
</div>                

<div style=" clear:both; height:500px; padding:5px 5px 5px 5px">
    <div>@MyControls.AccessLogTable(AccessLog.GetByClass(Model.Id,Company.LogClass))</div>
</div>


}


