@model OUDAL.ClientActivity

@{
    ViewBag.Title = "联系记录编辑";
    Layout = "~/Views/Shared/_SmallLayout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.js")
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".datepicker").datetimepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });

    });
</script>
<div class="well" style="width:650px;margin:0px auto">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClientId)
        <fieldset>
            <legend>联系信息</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Type)
                @foreach (SelectListItem s in DictionaryBLL.GetList("联系类型", false))
                {
                    <span class="radio-inline"><input type="radio" name="Type" value="@s.Value" />@s.Text</span>

                }
                @Html.ValidationMessageFor(m => m.Type)
            </div>
            @Html.MyDateTimeFor(model => model.ActualTime)
            @Html.ValidationMessageFor(m => m.ActualTime)
            @Html.MyTextAreaFor(model => model.Detail,3)
            @Html.ValidationMessageFor(m => m.Detail)
        </fieldset>
        <p style="text-align:center">@MyControls.SubmitBtn("保存") @MyControls.Btn("取消", "window.close()")</p>
    }
</div>
