@{
    ViewBag.Title = "客户转入表";
    Layout = "~/Views/Shared/_Layout.mobile.cshtml";
}

@section Main{
    <script type="text/javascript">
        jQuery(document).ready(function () {
                //$(".datepicker").attr("data-role", "datebox");
                //var opt = {
                //    preset: 'date', //日期
                //    theme: 'ios', //皮肤样式
                //    display: 'modal', //显示方式
                //    mode: 'scroller', //日期选择模式
                //    lang: 'zh',
                //    dateFormat: 'yyyy-mm-dd', // 日期格式
                //    dateOrder: 'yymmdd', //面板中日期排列格式
                //    endYear: 2020 //结束年份
                //};
                //$('input:jqmData(role="datebox")').mobiscroll(opt);
            $("[name='DateFromTransferInTime']").val('@ViewBag.Date1');
            $("[name='DateToTransferInTime']").val('@ViewBag.Date2');
            SearchClickForTransferIn();
        });

        function SearchClickForTransferIn() {
            var postData = { groupid: '@ViewBag.GroupId', from: $("[name='DateFromTransferInTime']").val(), to: $("[name='DateToTransferInTime']").val() };
            $.post("@(Request.Url.AbsoluteUri+"/../ClientTransferInQuery")", postData, function (respDate) {
                if (respDate.success == true) {
                    list = respDate.obj;
                    showEntersForTransferIn(list);
                } else {
                    alert(respDate.obj);
                }
            });
        }

        function showEntersForTransferIn(obj) {
            var element = $('#resulttableForTransferIn');
            var tplForTransferIn = $('#tplForTransferIn').html();
            var html = _.template(tplForTransferIn, obj);
            element.html(html);
        }
    </script>
    <div class="well well-small">
    @Html.MobileSearchDateRange("TransferInTime", "转入日期：")
    @MyControls.MobileSearchBtn("TransferIn")

</div>
    <div id="resulttableForTransferIn">

    </div>
    <script type="text/template" id="tplForTransferIn">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>客户姓名</th>
                    <th>转入时间</th>
                    <th>转入原因</th>
                    <th>转出小组</th>
                    <th>转入小组</th>
                    <th>操作人</th>
                </tr>
            </thead>
            <tbody>

                <%for(var i=0;i<obj.length;i++){var item=obj[i];%>

                    <tr>
                        <td><%=item.ClientName%></td>
                        <td style="text-align:left"><%=Date2String(item.TransferDate)%></td>
                        <td style="text-align:left"><%=item.Reason%></td>
                        <td style="text-align:left"><%=item.OutGroup%></td>
                        <td style="text-align:left"><%=item.InGroup%></td>
                        <td style="text-align:left"><%=item.PersonName%></td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

    </script>
}

