@model OUDAL.ClientCreate

@{
    ViewBag.Title = "客户信息编辑";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.js")
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".datepicker").datetimepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });
        var show = "@ViewBag.HasAppointment";
        if (show == "True") {
            $("#AppointmentField").show();
        }

    });
    //function RoomTypeChanged() {
    //    var roomtype = "";
    //    $('input[name="RoomType"]:checked').each(function () {
    //        if (roomtype == "")
    //            roomtype += $(this).val();
    //        else
    //            roomtype += ("," + $(this).val());
    //    });
    //    //alert(roomtype);
    //    $("#RoomType").val(roomtype);
    //}

    function PhoneCheck(phone) {
        if (phone != null && phone != "") {
            $.post("./PhoneCheck/0", { phone: phone }, function (res) {
                if (!res.success) {
                    alert(res.obj);
                }
            });
        }
    }
    $(function () {
        window.onunload = function () {
            window.opener.Refresh();
        };
    });
    function ShowAppointment(checked) {
        //$("#AppointmentField").toggle();
        if (checked) {
            $("#AppointmentField").show();
        }
        else {
            $("#AppointmentField").hide();
        }
    }
</script>
<div class="well" style="width:650px;margin:0px auto">
    @using (Html.BeginForm("CreateClient", "Client"))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.GroupId)
        <input id="RoomType" type="text" style="display:none" />
        <fieldset>
            <legend>客户信息</legend>
            <div class='form-group'>
                @Html.LabelFor(m => m.Name)
                @Html.TextBox("Name", Model.Name, new { @readonly = "readonly" })@Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class='form-group'>
                @Html.LabelFor(m => m.Sex)
                <label class="radio-inline" style="min-width:initial"><input name="Sex" type="radio" value="男" checked />男</label>
                <label class="radio-inline" style="min-width:initial"><input name="Sex" type="radio" value="女" />女</label>
                @Html.ValidationMessageFor(m => m.Sex)
            </div>
            <div class='form-group'>
                @Html.LabelFor(m => m.AllPhone)
                <input class="text-box" type="text" name="AllPhone" value="@Model.AllPhone.Split(',')[0]" readonly="readonly" />
                <input class="text-box" type="text" name="AllPhone1" value="@if(Model.AllPhone.Split(',').Count()==2)
                                                                           {
                                                                               @Model.AllPhone.Split(',')[1]
                                                                                                         }"
                       onchange="PhoneCheck(this.value);" />
                @Html.ValidationMessageFor(m => m.AllPhone)
            </div>
            @Html.MyDropdownFor(model => model.Way, DictionaryBLL.GetList("渠道类型", false), Model.Way)
            @Html.MyTextFor(model => model.WayExtend)
            @*<div class='form-group'>
                    @Html.LabelFor(m => m.RoomType)
                    @foreach (SelectListItem s in ViewBag.RoomTypes)
                    {
                        <label class="checkbox-inline" style="min-width:initial;"><input name="RoomType" type="checkbox" checked="@s.Selected" value="@s.Value" onclick="RoomTypeChanged()" /> @s.Text</label>
                    }
                </div>*@
            <div class='form-group'>
                @Html.LabelFor(m => m.RoomType)
                @foreach (string s in DepartmentBLL.GetRoomType(Model.ProjectId))
                {
                    <label class="radio-inline" style="min-width:initial;"><input name="RoomType" type="radio" checked="@s.Equals(Model.RoomType)" value="@s" /> @s</label>
                }
                @Html.ValidationMessageFor(m => m.RoomType)
            </div>
            <div class='form-group'>
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @readonly = "readonly" })@Html.ValidationMessageFor(m => m.Code)
            </div>
            @Html.MyTextAreaFor(model => model.Remark, 3)
            <legend>联系记录</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.ContactType)
                @Html.TextBoxFor(m => m.ContactType, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.ContactType)
            </div>
            @Html.MyDateTimeFor(model => model.ContactActualTime)
            @Html.MyTextAreaFor(model => model.ContactDetail, 3)
            <label class="checkbox-inline" style="min-width:initial;"><input type="checkbox" id="HasAppointment" name="HasAppointment" onchange="ShowAppointment(this.checked)" value="Add" checked="@ViewBag.HasAppointment" />是否添加邀约信息</label>
            <br />
            <br />
            <fieldset id="AppointmentField" style="display:none;">
                <legend>邀约记录</legend>
                <div class="form-group">
                    @Html.LabelFor(model => model.AppointmentType)
                    @foreach (SelectListItem s in DictionaryBLL.GetList("邀约类型", false))
                    {
                        <label class="radio-inline" style="min-width:initial;"><input type="radio" name="AppointmentType" value="@s.Value" checked="@s.Value.Equals(Model.AppointmentType)" />@s.Text</label>

                    }
                    @Html.ValidationMessageFor(m => m.AppointmentType)
                </div>
                @Html.MyDateTimeFor(model => model.AppointmentPlanTime)
                @Html.MyTextAreaFor(model => model.AppointmentDetail, 3)
            </fieldset>
        </fieldset>
        <p style="text-align:center">@MyControls.SubmitBtn("保存") @MyControls.Btn("取消", "history.go(-1)")</p>
    }
</div>
