@model OUDAL.ClientCreate

@{
    ViewBag.Title = "客户信息编辑";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.js")
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".datepicker").datetimepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });
        
            $("#AppointmentField").show();
        
            $("#Phone1").attr("readonly", "readonly");
            $(".form-group").addClass("col-md-6");
    });
    //function RoomTypeChanged() {
    //    var roomtype = "";
    //    $('input[name="RoomType"]:checked').each(function () {
    //        if (roomtype == "")
    //            roomtype += $(this).val();
    //        else
    //            roomtype += ("," + $(this).val());
    //    });
    //    //alert(roomtype);
    //    $("#RoomType").val(roomtype);
    //}

    function PhoneCheck(phone) {
        if (phone != null && phone != "") {
            $.post("./PhoneCheck/0", { phone: phone }, function (res) {
                if (!res.success) {
                    alert(res.obj);
                }
            });
        }
    }
    $(function () {
        window.onunload = function () {
            window.opener.Refresh();
        };
    });
    function ShowAppointment(checked) {
        //$("#AppointmentField").toggle();
        if (checked) {
            $("#AppointmentField").show();
        }
        else {
            $("#AppointmentField").hide();
        }
    }
</script>
<div class="well container" style="margin:0px auto">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.Id)
        <input id="RoomType" type="text" style="display:none" />
        <fieldset>
            <legend>@ViewBag.Msg</legend>
            @Html.MyTextFor(m => m.Name)
            <div class='form-group'>
                @Html.LabelFor(m => m.Sex)
                <label class="radio-inline" style="min-width:30px"><input name="Sex" type="radio" value="男" checked />男</label>
                <label class="radio-inline" style="min-width:30px;"><input name="Sex" type="radio" value="女" />女</label>
                @Html.ValidationMessageFor(m => m.Sex)
            </div>
            @Html.MyTextFor(m=>m.Phone1)
            @Html.MyTextFor(m=>m.Phone2)
            @Html.MyDropdownFor(model => model.Way,ViewBag.QuDao as List<SelectListItem> , Model.Way,appendBlank:false)
            @Html.MyTextFor(model => model.WayExtend)
            @*<div class='form-group'>
                    @Html.LabelFor(m => m.RoomType)
                    @foreach (SelectListItem s in ViewBag.RoomTypes)
                    {
                        <label class="checkbox-inline" style="min-width:initial;"><input name="RoomType" type="checkbox" checked="@s.Selected" value="@s.Value" onclick="RoomTypeChanged()" /> @s.Text</label>
                    }
                </div>*@
            <div class='form-group'>
                @Html.LabelFor(m => m.RoomType)
                @foreach (string s in DepartmentBLL.GetRoomType(Model.ProjectId))
                {
                    <label class="radio-inline" style="min-width:30px;"><input name="RoomType" type="radio" checked="@s.Equals(Model.RoomType)" value="@s" /> @s</label>
                }
                @Html.ValidationMessageFor(m => m.RoomType)
            </div>
            @if (ViewBag.Type == 2)
            {
                @Html.MyDropdownFor(m=>m.GroupId,Project.GetSalesGroup(Model.ProjectId).ToSelectLists(true) );
            }
            <div class="clearfix"></div>
            @Html.MyTextAreaFor(model => model.Remark, 3)
            <div class="clearfix"></div>
            
            <fieldset id="AppointmentField" style="display:none;">
                <legend>
                    邀约信息
                    @if (ViewBag.Type == 1 || ViewBag.Type == 2)
                    {
                        <text>(可选)</text>
                    }
                </legend>
                <div class="">
                    @Html.LabelFor(model => model.AppointmentType)
                    @foreach (SelectListItem s in DictionaryBLL.GetList("邀约类型", false))
                    {
                        <label class="radio-inline" style="min-width:15px;"><input type="radio" name="AppointmentType" value="@s.Value" checked="@s.Value.Equals(Model.AppointmentType)" />@s.Text</label>

                    }
                    <label class="radio-inline" style="min-width:15px;"><input type="radio" name="AppointmentType" />无</label>

                    @Html.ValidationMessageFor(m => m.AppointmentType)
                </div>
                @Html.MyDateTimeFor(model => model.AppointmentPlanTime)
                @Html.MyTextFor(model => model.AppointmentDetail)
                <input hidden value="@ViewBag.Type" name="type" id="type"/>
            </fieldset>
        </fieldset>
        <p style="text-align:center">@MyControls.SubmitBtn("保存") @MyControls.Btn("取消", "history.go(-1)")</p>
    }
</div>
