@model OUDAL.Client

@{
    ViewBag.Title = "客户信息编辑";
    Layout = "~/Views/Shared/_EditLayout.mobile.cshtml";
    var projectid = "";
    if (Request.RequestContext.RouteData.Values["projectid"] != null) { projectid = Request.RequestContext.RouteData.Values["projectid"].ToString(); }

    if (Model.Id == 0)
    {
        ViewBag.BackUrl = MvcApplication.RootPath + "/Project/" + projectid + "/Home/CreateClient";
    }
    else
    {
        ViewBag.BackUrl = Request.Url.AbsoluteUri.Replace("Edit", "View");
    }
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#Phone1").change(PhoneCheck(this.val));
        $("#Way").attr("readonly", "readonly");
    });

    function PhoneCheck(phone) {
        if (phone != null && phone != "") {
            $.post("../PhoneCheck/@Model.Id", { phone: phone }, function (res) {
                if (!res.success) {
                    alert(res.obj);
                }
            });
        }
    }

    function Submit() {
        post('clientview', '@Request.Url.AbsoluteUri', $('#clientview form').serialize());
    }
    function Back() {
        loadCurPage('@Request.Url.AbsoluteUri.Replace("Edit","View")');
    }
</script>
@section Main{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(m => m.AllPhone)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.GroupId)
        <h3>客户信息</h3>
        @Html.MyMobileTextFor(model => model.Name)
        <div class="ui-field-contain">
            <fieldset data-role="controlgroup" data-type="horizontal">
                <legend>性别<font color="red">*</font></legend>
                <label class="radio"><input name="Sex" type="radio" value="男" checked="@Model.Sex.Equals("男")" />男</label>
                <label class="radio"><input name="Sex" type="radio" value="女" checked="@Model.Sex.Equals("女")" />女</label>
            </fieldset>

            @Html.ValidationMessageFor(m => m.Sex)
        </div>
        @Html.MyMobileTextFor(m => m.Phone1)
        @Html.MyMobileTextFor(m => m.Phone2)
        <div class="ui-field-contain">
            <fieldset data-role="controlgroup" data-type="horizontal">
                <legend>产品类型<font color="red">*</font></legend>
                @foreach (string s in DepartmentBLL.GetRoomType(Model.ProjectId))
                {
                    <label class="radio-inline"><input name="RoomType" type="radio" checked="@s.Equals(Model.RoomType)" value="@s" /> @s</label>
                }
            </fieldset>

            @Html.ValidationMessageFor(m => m.RoomType)
        </div>
        @Html.MyMobileTextFor(m => m.Way)
        @Html.MyMobileTextFor(m => m.WayExtend)
        @Html.MyMobileTextAreaFor(model => model.Remark, 3)
        <p style="text-align:center"><input type="button" value="保存" onclick="Submit();" /> @MyControls.Btn("取消", "Back();")</p>
    }
}