@{
    ViewBag.Title = "客户邀约汇总表";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}
@section Main{
    @Scripts.Render("~/bundles/backbone")
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var PostData = {};
            $(".datepicker").datepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });
            $("#DateFrom").val('@ViewBag.Date1');
            $("#DateTo").val('@ViewBag.Date2');
            SearchClick();
        });
        var list;

        function SearchClick() {
            var PostData = {};

            PostData.Client = $("#Client").val();

            PostData.DateFrom = $("#DateFrom").val();
            if (PostData.DateFrom == "") {
                alert("请选择日期");
                return;
            }
            PostData.DateTo = $("#DateTo").val();
            if (PostData.DateTo == "") {
                alert("请选择日期");
                return;
            }

            $.post("./InviteReportQuery", PostData, function(respDate) {
                if (respDate.success == true) {
                    list = respDate.obj;
                    showEnters(list);
                } else {
                    alert(respDate.obj);
                }
            });
        }

        function showEnters(obj) {
            var element = $('#resulttable');
            var tpl = $('#tpl').html();
            var html = _.template(tpl, obj);
            element.html(html);
        }

        function showClient(id) {
            OpenFullWindow("./View/" + id);
        }
    </script>
    <div class="ui-widget ui-widget-content ui-corner-all searchdiv">
        @Html.SearchDateRange("", "邀约日期：")
       
        @MyControls.SearchBtn()
    </div>
    <div id="resulttable">

    </div>
    <script type="text/template" id="tpl">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th style="width:80px">销售组</th>
                    <th style="width:80px">邀约类型</th>
                    <th style="width:120px">组数</th>
                    <th style="width:120px">到访组数</th>
                    <th style="width:80px">完成组数</th>
                </tr>
            </thead>
            <tbody>
                
                <tr >
                    <td colspan="5">合计</td>
                </tr>
                <%for(var i=0;i<obj.Total.length;i++){var item=obj.Total[i]; %>

                    <tr>
                        <td>项目</td>
                        <td><%=item.Type%></td>
                        <td style="text-align:left"><%=item.Num%></td>
                        <td style="text-align:left"><%=item.VisitNum%></td>
                        <td><%=item.DoneNum%></td>
                    </tr>

                    <%}%>
                    <tr><td colspan="5">分组统计</td></tr>
               
                    <%for(var i=0;i<obj.list.length;i++){var item=obj.list[i]; %>

                        <tr>
                            <td><%=item.Group%></td>
                            <td><%=item.Type%></td>
                            <td style="text-align:left"><%=item.Num%></td>
                            <td style="text-align:left"><%=item.VisitNum%></td>
                            <td><%=item.DoneNum%></td>
                        </tr>

                        <%}%>
</tbody>
        </table>
    </script>
    <script type="text/template" id="tpl2">
        <td><%=item.Name%></td>
        <td><%=showIntent(item.Intent)%></td>
        <td><%=item.PlanMoney%></td>
        <td><%=item.IntentMoney%></td>
        <td><%=item.LastPlan%></td>
        <td><%=item.LastAction%></td>
        <td><%=item.ThisPlan%></td>

    </script>

}
