@{
    ViewBag.Title = "客户邀约明细表";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}
@section Main{
    @Scripts.Render("~/bundles/backbone")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            var PostData = {};
            $(".datepicker").datepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });
            $("#DateFrom").val('@ViewBag.Date1');
            $("#DateTo").val('@ViewBag.Date2');
            SearchClick();
            });
        var list;
        function SearchClick() {
            var PostData = {};
            PostData.Type=$("#Type").val();
            PostData.Client = $("#Client").val();
            PostData.Phone = $("#Phone").val();
            PostData.DateFrom = $("#DateFrom").val();
            if (PostData.DateFrom == "") {
                alert("请选择日期");
                return;
            }
            PostData.DateTo = $("#DateTo").val();
            if (PostData.DateTo == "") {
                alert("请选择日期");
                return;
            }

            $.post("./InviteListQuery", PostData, function (respDate) {
                if (respDate.success == true) {
                    list = respDate.obj;
                    showEnters(list);
                } else {
                    alert(respDate.obj);
                }
            });
        }
        function showEnters(obj) {
            var element = $('#resulttable');
            var tpl = $('#tpl').html();
            var html = _.template(tpl, obj);
            element.html(html);
        }
        function showClient(id) {
            OpenFullWindow("./View/" + id);
        }
        function Refresh(){
            SearchClick();
        }
        $(function () {
            window.onunload = function () {
                window.opener.Refresh();
            };
        });
    </script>
    <div class="ui-widget ui-widget-content ui-corner-all searchdiv">
         @Html.SearchDateRange("", "邀约日期：")
       
        @Html.ShortInput("Client", "客户名称：")
        @Html.ShortInput("Phone", "电话号码：")
        邀约类型：
        @Html.MyDropdown("Type",DictionaryBLL.GetList("邀约类型",true))
        @MyControls.SearchBtn()
    </div>
    <div id="resulttable">

    </div>
    <script type="text/template" id="tpl">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th style="width:120px">邀约时间</th>
                    <th style="width:80px">邀约类型</th>
                    <th style="width:100px">姓名</th>
                    <th style="width:120px">电话</th>
                    <th style="width:80px">销售组</th>
                    <th style="width:120px">到访时间</th>
                    <th style="width:80px">完成情况</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display:none">
                    <td></td>
                </tr>
                <%for(var i=0;i
                <obj.length;i++){var item=obj[i]; %>

                    <tr onclick="showClient(<%=item.ClientId%>)">
                        <td><%=Time2String(item.PlanTime)%></td>
                        <td><%=item.Type%></td>
                        <td><%=item.Client%></td>
                        <td><%=item.AllPhone%></td>
                        <td><%=item.GroupName%></td>
                        <td><%=Time2String(item.ActualTime)%></td>
                        <td><%=item.Done%></td>
                    </tr>

                    <%}%>
            </tbody>
        </table>
    </script>
    <script type="text/template" id="tpl2">
        <td><%=item.Name%></td>
        <td><%=showIntent(item.Intent)%></td>
        <td><%=item.PlanMoney%></td>
        <td><%=item.IntentMoney%></td>
        <td><%=item.LastPlan%></td>
        <td><%=item.LastAction%></td>
        <td><%=item.ThisPlan%></td>

    </script>

}
