@{
    ViewBag.Title = "客户清单";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}
@section Main{

    <script type="text/javascript">
    jQuery(document).ready(function () {
        var PostData = {};
        $(".datepicker").datepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });
        @Html.Raw(JqGridSimple.OutGrid("ListQuery"))

            function AfterInsertRow(rowid, aData) {
                //grid.setCell(rowid,"Name","<a href='#' onclick=rowclick("+rowid+")>"+aData.Name+"</a>","Red");
                //grid.setCell(rowid,"FoodType",  TypeName(aData.FoodType));
                //grid.setCell(rowid,"State", StateName(aData.State));
            }

        });
        var colModelGrid = [{ name: 'Id', key: true, index: 'id', width: 1, align: 'left', hidden: true }
        @Html.JqFieldString("Name","名称",150,"c.Name")
        @Html.JqFieldString("Sex","性别",50,"c.Sex")
        @Html.JqFieldString("AllPhone","电话",250,"c.AllPhone")
        @Html.JqFieldString("ProjectId","所属项目",150,"c.ProjectId")
        @Html.JqFieldString("GroupId","所属小组",150,"c.GroupId")
        @Html.JqFieldString("Way","渠道",150,"c.Way")
        @Html.JqFieldString("WayExtend","渠道说明",150,"c.WayExtend")
        @Html.JqFieldString("Code","编码",100,"c.Code")
        @Html.JqFieldString("Remark","备注",150,"c.Remark")];

    function rowclick(id) {
        OpenFullWindow("./View/" + id, "_blank");
    }
    function AddNew() {
        OpenFullWindow("./Edit/0", "_blank");
    }
    function SearchClick() {
        $('#listGrid').appendPostData({ Name: $("#Name").val() });
        $('#listGrid').appendPostData({ PhoneNumber: $("#PhoneNumber").val() });

        $('#listGrid').trigger('reloadGrid');
    }
    //function ShowHidSearchDiv() {
    //    $("#SearchDiv").toggle();
    //    if ($("#SearchDiv").css('display') == 'none') {
    //        $("#btnShowHide1").val("打开搜索条件");
    //        $("#btnShowHide2").val("打开搜索条件");
    //    } else {
    //        $("#btnShowHide1").val("关闭搜索条件");
    //        $("#btnShowHide2").val("关闭搜索条件");
    //    }
    //}
    </script>
    <div class="ui-widget ui-widget-content ui-corner-all searchdiv">
        @Html.ShortInput("Name", "名 称:")
        @Html.ShortInput("PhoneNumber", "电 话:")
        @MyControls.SearchBtn()
        @MyControls.Btn("新增", "AddNew()")
    </div>
    @Html.Raw(JqGridSimple.OutTable())

}

