@{
    ViewBag.Title = "客户周计划";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}
@section Main{
    @Scripts.Render("~/bundles/backbone")
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var PostData = {};
            $(".datepicker").datepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });
        });
        var list;
        function SearchClick() {
            var PostData = {};

            PostData.Client = $("#Client").val();
            var intentarray = new Array();
            $("input[name='Intent']:checked").each(function () { intetarray.push($(this).val()); });
            PostData.Intents = intentarray;
            PostData.Fund = $("#Fund").val();
            if (PostData.Fund == "") {
                alert("请选择基金");
                return;
            }
            PostData.PlanDate = $("#DatePlan").val();
            if (PostData.PlanDate == "") {
                alert("请选择计划日期");
                return;
            }

            $.post("./PlansQuery", PostData, function (respDate) {
                if (respDate.success == true) {
                    list=respDate.obj;
                    showEnters(list);
                } else {
                    alert(respDate.obj);
                }
            });
        }
        function showIntent(intent){
            intent=parseInt(intent)
            switch(intent){
                case 0:return '无意向';
                case 1:return '一般';
                case 2:return '重点';
                case 3:return '意向投资';
                default:return intent;
            }
        }
        function showEnters(obj) {
            var element = $('#resulttable');
            var tpl = $('#tpl').html();
            var html = _.template(tpl, obj);
            element.html(html);
        }

        function showEdit(obj){
            $(obj).next().toggle();
            return;

        }
        function submitPlan(clientid,obj){
            if($("#thisplan"+clientid).val()==""){
                alert("请输入计划内容");return;
            }
            if(parseFloat($("#planmonney"+clientid).val())==NaN){
                alert("目标金额请输入有效数字");
                return;
            }
            if(parseFloat($("#intentmonney"+clientid).val())==NaN){
                alert("目标金额请输入有效数字");
                return;
            }
            var postData={
                planDate:$("#DatePlan").val()
                ,ClientId:clientid,FundId:$("#Fund").val()
                ,LastAction:$("#lastaction"+clientid).val()
                ,ThisPlan:$("#thisplan"+clientid).val()
                ,Intent:$("#intent"+clientid).val()
                ,PlanMoney:$("#planmoney"+clientid).val()
                ,IntentMoney:$("#intentmoney"+clientid).val()
            };
            $.post("./PlanUpdate", postData, function (respDate) {
                if (respDate.success == true) {
                    $(obj).parent().parent().hide();
                    for(var i=0;i<list.length;i++){
                        if(list[i].ClientId==postData.ClientId){
                            var item=list[i];
                            item.Intent=postData.Intent;
                            item.PlanMoney=postData.PlanMoney;
                            item.IntentMoney=postData.IntentMoney;
                            item.LastAction=postData.LastAction;
                            item.ThisPlan=postData.ThisPlan;
                            var tpl = $('#tpl2').html();
                            var html = _.template(tpl, {item:item});
                            $(obj).parent().parent().prev().html(html);
                        }
                    }

                } else {
                    alert(respDate.obj);
                }
            });
        }
    </script>
    <div class="ui-widget ui-widget-content ui-corner-all searchdiv">
        @Html.SearchLabel("Fund", "基金:") @Html.DropDownList("Fund", ViewBag.Funds as List<SelectListItem>) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        @Html.SearchDate("Plan", "计划时间：")
        @Html.SearchLabel("", "意向：")
        <input type="radio" value="2" name="Intent" />意向投资 &nbsp; &nbsp; &nbsp;
        <input type="radio" value="1" name="Intent" />重点 &nbsp; &nbsp; &nbsp;
        <input type="radio" value="0" name="Intent" />一般 &nbsp; &nbsp; &nbsp;
        @Html.ShortInput("Client", "客户名称:")
        @MyControls.SearchBtn()
    </div>
    <div id="resulttable">

    </div>
    <script type="text/template" id="tpl">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th style="width:140px">姓名</th>
                    <th style="width:70px">意向</th>
                    <th style="width:80px">计划金额(亿)</th>
                    <th style="width:80px">意向金额(亿)</th>
                    <th style="min-width:80px">上周计划</th>
                    <th style ="min-width:80px">上周执行</th>
                    <th style="min-width:80px">本周计划</th>
                </tr>
            </thead>
            <tbody>
                <tr style="display:none">
                    <td></td>
                </tr>
                <%for(var i=0;i
                <obj.length;i++){var item=obj[i]; %>

                    <tr onclick="showEdit(this)">
                        <td><a href="./View/<%=item.ClientId%>" target="_blank"><%=item.Name%></a></td>
                        <td><%=showIntent(item.Intent)%></td>
                        <td><%=item.PlanMoney%></td>
                        <td><%=item.IntentMoney%></td>
                        <td><%=item.LastPlan%></td>
                        <td><%=item.LastAction%></td>
                        <td><%=item.ThisPlan%></td>
                    </tr>
                    <tr style="display:none" class="success">
                        <td colspan="7">
                            <label for="intent<%=item.ClientId%>">意向</label>
                            <select id="intent<%=item.ClientId%>">
                                <option value="0"<%if(item.Intent==0){%>selected='selected'<%}%>>无意向</option>
                                <option value="1"<%if(item.Intent==1){%>selected='selected'<%}%>>一般</option>
                                <option value="2"<%if(item.Intent==2){%>selected='selected'<%}%>>重点</option>
                                <option value="3"<%if(item.Intent==3){%>selected='selected'<%}%>>意向投资</option>
                            </select>
                            <label for="planmoney<%=item.ClientId%>">计划金额</label>
                            <input type="text" id="planmoney<%=item.ClientId%>" value="<%=item.PlanMoney%>" class="form-control" />
                            <label for="intent<%=item.ClientId%>">意向金额</label>
                            <input type="text" id="intentmoney<%=item.ClientId%>" value="<%=item.IntentMoney%>" class="form-control" />
                            <br />
                            <%if(item.LastPlan!=null){%>
                            <label for="action<%=item.ClientId%>">上周执行情况</label>
                            <textarea style="width:370px" id="lastaction<%=item.ClientId%>" class="form-control"><%=item.LastAction%></textarea>
                            <%}%>
                            <label for="plan<%=item.ClientId%>">本周计划</label>
                            <textarea style="width:370px" id="thisplan<%=item.ClientId%>" class="form-control"><%=item.ThisPlan%></textarea>
                            <button class="btn" onclick="submitPlan(<%=item.ClientId%>,this)">提交</button>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </script>
    <script type="text/template" id="tpl2">
        <td><%=item.Name%></td>
        <td><%=showIntent(item.Intent)%></td>
        <td><%=item.PlanMoney%></td>
        <td><%=item.IntentMoney%></td>
        <td><%=item.LastPlan%></td>
        <td><%=item.LastAction%></td>
        <td><%=item.ThisPlan%></td>

    </script>

}
