@model OUDAL.Client
@{
    ViewBag.Title = "创建客户";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";
}
@section Main{

    <script type="text/javascript">
        
    </script>
    <div style="width:800px;margin:auto;">
        <div class="ui-widget ui-widget-content ui-corner-all searchdiv">
            @using (Html.BeginForm())
            {
                @Html.MyTextFor(m => m.Name)
                @Html.MyTextFor(m => m.AllPhone)
                <p style="text-align:center">@MyControls.SubmitBtn("查找")</p>
            }
        </div>
        @if (ViewBag.Message==true&&ViewBag.Button == false)
        {
            <p style="color:red">找到完全符合条件的客户,无法创建新客户</p>
        }
        else if (ViewBag.Message)
        {
            <p style="color:red">找到相似条件的客户,请核对</p>
        }
        @if (ViewBag.Show)
        {
            <div id="Clients">
                @if (ViewBag.Clients1.Count != 0)
                {
                    <table class="table table-bordered table-striped">
                        <tr><th>姓名</th><th>电话</th></tr>
                        @foreach (ClientView c in ViewBag.Clients1)
                        {
                            <tr>
                                <td><a href="./View/@c.Id">@c.Name</a></td>
                                <td>@c.AllPhone</td>
                               
                            </tr>
                        }
                    </table>
                }
                @if (ViewBag.Clients2.Count != 0)
{
    <table class="table table-bordered table-striped">
        <tr><th>姓名</th><th>电话</th></tr>
        @foreach (ClientView c in ViewBag.Clients2)
        {
            <tr>
                <td><a href="./View/@c.Id">@c.Name</a></td>
                <td>@c.AllPhone</td>
                
            </tr>
        }
    </table>
}
            </div>

        }
        @if (ViewBag.Button)
        {
            <div class="btn-toolbar" style="width:300px;margin:auto;">
                <div class="btn-group">
                    <form action="./Create?type=1" method="post">
                        @Html.HiddenFor(m => m.Name)
                        @Html.HiddenFor(m => m.AllPhone)
                        <button class="btn btn-primary" type="submit">来电新增</button>
                    </form>
                </div>
                <div class="btn-group">
                    <form action="./Create?type=2" method="post">
                        @Html.HiddenFor(m => m.Name)
                        @Html.HiddenFor(m => m.AllPhone)
                        <button class="btn btn-primary" type="submit">来访新增</button>

                    </form>
                </div>
                <div class="btn-group">
                    <form action="./Create?type=3" method="post">
                        @Html.HiddenFor(m => m.Name)
                        @Html.HiddenFor(m => m.AllPhone)
                        <button class="btn btn-primary" type="submit">邀约新增</button>

                    </form>
                </div>
            </div>

        }
    </div>
}