@model OUDAL.Client
@{
    ViewBag.Title = "创建客户";
    if (ViewBag.Projects == null)
    {
        Layout = "~/Views/Shared/_InfoLayout.mobile.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_MainListLayout.mobile.cshtml";
    }

}
@section Main{

    <script type="text/javascript">
        $(document).ready(function () {
            //$("#AllPhone").attr("placeholder", "手机号码必须是11位，外地固话请使用 区号-电话号码 这样的格式");
        });

        function add() {
            var _type = '@ViewBag.Type';
            @if (ViewBag.Projects == null)
            {
                <text>window.location.href = "./Create?type=" + _type + "&name=" + encodeURIComponent($("#Name").val()) + "&phone=" + encodeURIComponent($("#AllPhone").val());</text>
            }
            else
            {
                <text>window.location.href="../Project/" +@Model.ProjectId +"/Client/Create?type=" + _type + "&name=" + encodeURIComponent($("#Name").val()) + "&phone=" + encodeURIComponent($("#AllPhone").val());</text>
            }
            $("#Name").val('');
            $("#AllPhone").val('');
        }
    </script>
    <div data-role="content">
        <div data-role="fieldcontain">
            @using (Html.BeginForm())
            {
                if (ViewBag.Projects != null)
                {
                    @Html.MyDropdownFor(m => m.ProjectId, ViewBag.Projects as List<SelectListItem>, appendBlank: false)
                }
                @Html.MyTextFor(m => m.Name)
                @Html.MyTextFor(m => m.AllPhone)
                <p style="text-align: center">
                    @MyControls.SubmitBtn("查找")
                    @if (ViewBag.Button)
                    {
                        @MyControls.Btn("新增客户", " add(); ")
                    }
                </p>
            }
            <p>备注：手机号码必须是11位，外地固话请使用 区号-电话号码 这样的格式</p>
        </div>

        @if (ViewBag.Button == true)
        {
            if (ViewBag.Clients1.Count > 0)
            {
                <div data-role="fieldcontain"><p style="color: red">找到完全符合条件的客户,无法创建新客户</p></div>
            }
            else if (ViewBag.Clients2 != null && ViewBag.Clients2.Count > 0)
            {
                <div data-role="fieldcontain"><p style="color: red">找到相似条件的客户,请核对</p></div>
            }
        }

        @if (ViewBag.Show)
        {
            <div data-role="fieldcontain">
                <div id="Clients">
                    @if (ViewBag.Clients1.Count != 0)
                    {
                        <table>
                            <tr><th width="150px">姓名</th><th>电话</th><th width="250px">销售组</th></tr>
                            @foreach (ClientView c in ViewBag.Clients1)
                            {
                                <tr>
                                    <td><a href="./View/@c.Id">@c.Name</a></td>
                                    <td>@c.Phone1 @c.Phone2 </td>
                                    <td>@c.GroupName</td>
                                </tr>
                            }
                        </table>
                    }
                    @if (ViewBag.Clients2 != null && ViewBag.Clients2.Count != 0)
                    {
                        <table>
                            <tr><th width="150px">姓名</th><th>电话</th><th width="250px">销售组</th></tr>
                            @foreach (ClientView c in ViewBag.Clients2)
                            {
                                <tr>
                                    <td><a href="./View/@c.Id">@c.Name</a></td>
                                    <td>@c.MarkedPhone1 @c.MarkedPhone2 </td>
                                    <td>@c.GroupName</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        }
    </div>
}