@model OUDAL.Client
@{
    ViewBag.Title = "客户信息";
    Layout = "~/Views/Shared/_InfoLayout.cshtml";

}
@section Main{
    <script type="text/javascript">
        $(function () {
            var message = '@ViewBag.Message';
            if (message.length > 0) {
                alert(message);
            }
        });
        function ToDelete(id) {
            if (window.confirm('你确定删除此客户吗？')) {
                Delete(id);
            } else {
                return;
            }
        }

        function Delete(id) {
            var data = { id: id };
            $.post('../Delete', data, function (data) {
                alert(data.obj);
                if (data.success == true) {
                    if (data.obj == "已删除") {
                        window.opener.location.href = window.opener.location.href;
                        window.close();
                    }
                }
            });
        }
        function Refresh() {
            window.location.reload();
        }

        function ToDeleteContact(id) {
            if (window.confirm('你确定删除这条联系记录吗？')) {
                DeleteContact(id);
            } else {
                return;
            }
        }
        function DeleteContact(id) {
            $.post("../RemoveContact", { id: id }, function (res) {
                if (res.success) {
                    window.location.reload();
                }
                else {
                    alert(res.obj);
                }
            });
        }

        function ToDeleteAppointment(id) {
            if (window.confirm('你确定删除这条邀约记录吗？')) {
                DeleteContact(id);
            } else {
                return;
            }
        }
        function DeleteAppointmentt(id) {
            $.post("../RemoveAppointment", { id: id }, function (res) {
                if (res.success) {
                    window.location.reload();
                }
                else {
                    alert(res.obj);
                }
            });
        }

        $(function () {
            window.onunload = function () {
                window.opener.Refresh();
            };
        });
    </script>
    <div class="btn-toolbar well">
        <div class="btn-group"><button class="btn btn-primary" onclick="OpenLargeWindow('../Edit/@Model.Id');">修改</button></div>
        <div class="btn-group"><button class="btn btn-primary" onclick="ToDelete(@Model.Id)">删除</button></div>
        <div class="btn-group"><button class="btn btn-primary" onclick="OpenLargeWindow('../AddContact/@Model.Id');">添加联系记录</button></div>
        <div class="btn-group"><button class="btn btn-primary" onclick="OpenLargeWindow('../AddAppointment/@Model.Id');">添加邀约记录</button></div>
    </div>
            <div>
                <strong>基本信息</strong>
                <table class="table table-bordered">
                    @MyControls.ViewTable(2)
                    @Html.HiddenFor(model => model.Id)
                    <tr>
                        @Html.MyDisplayFor(m => m.Name)@Html.MyDisplayFor(m => m.Sex)
                    </tr>
                    <tr>
                        @Html.MyDisplayFor(m => m.AllPhone) @Html.MyDisplayFor(m => m.RoomType)
                    </tr>
                    <tr>
                        @Html.MyDisplayFor(m => m.Way)@Html.MyDisplayFor(m => m.WayExtend)
                    </tr>
                    <tr>
                        @Html.MyDisplayFor(m => m.ProjectId, DepartmentBLL.GetNameById(Model.ProjectId))
                        @Html.MyDisplayFor(m => m.GroupId, DepartmentBLL.GetNameById(Model.GroupId))
                    </tr>
                    <tr>
                        @Html.MyDisplayFor(m => m.Code)@Html.MyDisplayFor(m => m.Remark)
                    </tr>

                </table>
                <strong>联系记录</strong>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th width="200px">联系类型</th>
                        <th width="200px">联系时间</th>
                        <th>联系内容</th>
                        <th width="120px">操作</th>
                    </tr>
                    @foreach (ClientActivity c in ViewBag.Contacts)
                    {
                        <tr>
                            <td>@c.Type</td>
                            <td>@c.ActualTime.GetValueOrDefault().ToString("yyyy年MM月dd日HH时")</td>
                            <td>@c.Detail</td>
                            <td><button class="btn-danger" onclick="ToDeleteContact(@c.Id)">删除</button></td>
                        </tr>
                    }
                </table>

                <strong>邀约记录</strong>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th width="200px">邀约类型</th>
                        <th width="200px">预约时间</th>
                        <th width="200px">实际时间</th>
                        <th width="100px">是否完成</th>
                        <th>情况说明</th>
                        <th width="120px">操作</th>
                    </tr>
                    @foreach (ClientActivity c in ViewBag.Appointments)
                    {
                        <tr>
                            <td>@c.Type</td>
                            <td>@c.PlanTime.GetValueOrDefault().ToString("yyyy年MM月dd日HH时")</td>
                            @if (c.ActualTime.HasValue)
                            {
                                <td>@c.ActualTime.GetValueOrDefault().ToString("yyyy年MM月dd日HH时")</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            @if (c.IsDone.GetValueOrDefault())
                            {
                                <td>完成</td>
                            }
                            else
                            {
                                <td>未完成</td>
                            }
                            <td>@c.Detail</td>
                            <td>
                                <button class="btn-default" onclick="OpenLargeWindow('../EditAppointment/@c.Id');">修改</button>
                                <button class="btn-danger" onclick="ToDeleteAppointment(@c.Id)">删除</button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
}



