@model OUDAL.ClientActivity

@{
    ViewBag.Title = "联系记录编辑";
    Layout = "~/Views/Shared/_SmallLayout.cshtml";
}
@Scripts.Render("~/Scripts/jquery-ui-timepicker-addon.js")
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(".datepicker").datetimepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });

    });
</script>
<style>
    .datepicker {
        position: relative;
        z-index: 1001;
    }
</style>
<div class="well" style="width:650px;margin:0px auto">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClientId)
        <fieldset>
            <legend>联系信息</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.Type)
                @if (Model.Id == 0)
                {
                    foreach (SelectListItem s in DictionaryBLL.GetList("联系类型", false))
                    {
                        <label class="radio-inline" style="min-width: 40px;"><input type="radio" name="Type" value="@s.Value" checked="@s.Value.Equals(Model.Type)"/>@s.Text</label>

                    } @Html.ValidationMessageFor(m => m.Type)
                }
                else
                {
                    <span>@Model.Type</span>
                }
            </div>
            @Html.MyDateTimeFor(model => model.ActualTime)
            @if (ViewBag.ChangeGroup == true)
            {
                var list = Project.GetSalesGroup(ViewBag.ProjectId);
                <div class="form-group">
                    <label for="GroupId">接待小组</label>
                    <select id="GroupId" class="form-control" name="GroupId">
                        <option></option>
                        @foreach (var item in list)
                        {
                            <option value='@item.Id'>@item.Name</option>
                        }
                    </select>

                    <span style="color:red">*</span>
                    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="GroupId">@ViewBag.GroupPrompt</span>
                </div>
            }
            @Html.MyTextAreaFor(model => model.Detail, 3)
        </fieldset>
        <p style="text-align:center">@MyControls.SubmitBtn("保存") @MyControls.Btn("取消", "window.close()")</p>
    <div class="alert alert-dismissable alert-success">
        备注：只有前台才能新增“来访”类型的联系记录，销售员只可修改“来访联系记录”<br />
        这里是未邀约记录。如邀约来访，请在客户信息页面上，找到对应邀约记录，点击右侧的“完成”按钮填写信息。
    </div>
        <br /><span></span>
    }
</div>
