@{
    ViewBag.Title = "GetMenu";
    Layout = "~/Views/Shared/_MenuLayout.mobile.cshtml";
    bool IsProject = ViewBag.IsProject;
    int projectid = ViewBag.ProjectId;
}

<div data-role="content">

    <ul data-role="listview" data-theme="a">

        @if (IsProject && projectid != 0)
        {
            <li data-icon="false"><a onclick="load('Project_@projectid','@(MvcApplication.RootPath +"/Project/"+projectid+ "/Home/MobileProjectIndex")')"><img class="ui-li-icon" src="@(MvcApplication.RootPath + "/Content/Images/home.png")" />首页</a></li>



        }
        else
        {
            <li data-icon="false"><a onclick="loadandchange('@(MvcApplication.RootPath)')"><img class="ui-li-icon" src="@(MvcApplication.RootPath + "/Content/Images/home.png")" />首页</a></li>



        }
        <li data-icon="false"><a onclick="load('changepassword','@Url.Content(MvcApplication.RootPath + "/Account/ChangePassword")');"><img class="ui-li-icon" src="@(MvcApplication.RootPath + "/Content/Images/password.png")" />修改密码</a></li>
        <li data-icon="false"><a onclick="loadandchange('@Url.Content(MvcApplication.RootPath + "/Account/LogOff")');"><img class="ui-li-icon" src="@(MvcApplication.RootPath + "/Content/Images/user.png")" />登出系统</a></li>
        <li data-role="list-divider">切换项目</li>

        <li data-icon="false"><a onclick="loadandchange('@(MvcApplication.RootPath)');"><img class="ui-li-icon" src="@(MvcApplication.RootPath + "/Content/Images/company.png")" />公司</a></li>
        @foreach (var p in UserInfo.CurUser.GetProjects())
        {
            <li data-icon="false"><a href="#" onclick="load('Project_@p.Id','@Url.Content(MvcApplication.RootPath + "/Project/" + p.Id.ToString() + "/Home/MobileProjectIndex")');"><img class="ui-li-icon" src="@(MvcApplication.RootPath + "/Content/Images/project.png")" />@p.Name</a></li>
        }


    </ul>

</div>