@{
    ViewBag.Title = "项目配置";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}
@section Main{
    @Scripts.Render("~/bundles/backbone")
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var PostData = {};
            $(".datepicker").datepicker({ changeMonth: true, changeYear: true, showButtonPanel: true, showOtherMonths: true, selectOtherMonths: true });
            @if (ViewBag.RoomTypes.Count > 0)
            {
                <text>
            curRoomType=@ViewBag.RoomTypes[0].Id;
            </text>
            }
            SearchClick();
        });
        var list;
        var curRoomType = 0;

        function SearchClick() {
            $.post("./RoomTypeQuery",{projectid:@ViewBag.ProjectId}, function(respDate) {
                if (respDate.success == true) {
                    list = respDate.obj;
                    showEnters(list);
                } else {
                    alert(respDate.obj);
                }
            });
        }

        function showEnters(obj) {
            var element = $('#resulttable');
            var tpl = $('#tpl').html();
            var html = _.template(tpl, obj);
            element.html(html);
        }

        function selectRoomType(obj, roomtypeid) {
            //debugger;
            $(".list-group-item").removeClass("active");
            $(obj).addClass("active");
            $("#ProjectCode").hide();
            curRoomType = roomtypeid;
            SearchClick();
        }
        function AddNew() {
            OpenLargeWindow("./RoomTypeEdit/0", "RoomTypeEdit");
        }

        function ToDelete(id) {
            if (window.confirm('你确定删除吗？')) {
                Delete(id);
            } else {
                return;
            }
        }
        function Delete(id) {
            $.post("./RoomTypeDelete", { id: id }, function (res) {
                if (res.success) {
                    window.location.reload();
                }
                else {
                    alert(res.obj);
                }
            });
        }

        function changeCode(obj){
            $(".list-group-item").removeClass("active");
            $(obj).addClass("active");
            $("#ProjectCode").show();
            $("#resulttable").html("");
        }
    </script>
    <div class="col-lg-3">
        <label>项目相关配置</label>
        <div class="list-group">
            <a class="list-group-item" onclick="changeCode(this);">项目编码</a>
        </div>
        <label>产品类型列表</label>
        <div class="list-group">
            
            @{
                var isfirst = "active";
                foreach (RoomType r in ViewBag.RoomTypes)
                {
                    <a href="#" class="list-group-item @isfirst" onclick="selectRoomType(this, @r.Id ); ">@r.Name</a>
                    isfirst = "";
                }
            }
        </div>
        <button class="btn btn-primary" onclick="AddNew()">新增</button>
    </div>
    <div id="ProjectCode" class="col-lg-6" style="display:none;">
        <table class="table table-bordered">
            <tr>
                <td class="tdRight">编码</td>
                <td>
                    @if(ViewBag.ProjectCode!=null)
                    {
                        @ViewBag.ProjectCode
                    }
                </td>
            </tr>
            <tr>
                <td class="tdRight">操作</td>
                <td>
                    <button class="btn-default btn-sm" onclick="OpenMiddleWindow('./ProjectCodeEdit');">编辑</button>
                </td>
            </tr>
            
        </table>
    </div>
    <div id="resulttable" class="col-lg-6">

    </div>
    <script type="text/template" id="tpl">
        <table class="table table-bordered">
            <tbody>

                <%for(var i=0;i<obj.length;i++){var item=obj[i]; if(item.Id==curRoomType){%>

                    <tr>
                        <th class="tdRight" style="width:140px">类型名称</th>
                        <td><%=item.Name%></td>
                    </tr>
                    <tr><th class="tdRight">电转访时限</th><td style="text-align:left"><%=item.TelToVisitDays%></td></tr>
                    <tr><th class="tdRight">电转访提醒期</th><td style="text-align:left"><%=item.TelToVisitAheads%></td></tr>
                    <tr><th class="tdRight">访转卡时限</th><td style="text-align:left"><%=item.VisitToCardDays%></td></tr>
                    <tr><th class="tdRight">访转卡提醒期</th><td style="text-align:left"><%=item.VisitToCardAheads%></td></tr>
                    <tr><th class="tdRight">卡转大定时限</th><td style="text-align:left"><%=item.CardToOrderDays%></td></tr>
                    <tr><th class="tdRight">卡转大定提醒期</th><td style="text-align:left"><%=item.CardToOrderAheads%></td></tr>
                    <tr>
                        <th class="tdRight">动作</th>
                        <td>
                            <button class="btn btn-default btn-sm" onclick="OpenMiddleWindow('./RoomTypeEdit/<%=item.Id%>');">编辑</button>
                            &nbsp;&nbsp;&nbsp;<button class="btn btn-default btn-sm" onclick="ToDelete(<%=item.Id%>);">删除</button>
                        </td>
                    </tr>
                    <%}}%>
            </tbody>
        </table>

    </script>


}
