@model OUDAL.Order

@{
    ViewBag.Title = "取消大定签约";
    Layout = "~/Views/Shared/_EditLayout.mobile.cshtml";
    ViewBag.BackUrl = Request.Url.AbsoluteUri.Remove(Request.Url.AbsoluteUri.IndexOf("Order")) + "Client/View/" + Model.ClientId;
}
<script type="text/javascript">
    jQuery(document).ready(function () {
        //$(".datepicker").attr("data-role", "datebox");
        //var opt = {
        //    preset: 'date', //日期
        //    theme: 'ios', //皮肤样式
        //    display: 'modal', //显示方式
        //    mode: 'scroller', //日期选择模式
        //    lang: 'zh',
        //    dateFormat: 'yyyy-mm-dd', // 日期格式
        //    dateOrder: 'yymmdd', //面板中日期排列格式
        //    endYear: 2020 //结束年份
        //};
        //$('input:jqmData(role="datebox")').mobiscroll(opt);
        $("#OrderTime").attr("readonly", "readonly");
        $("#SignTime").attr("readonly", "readonly");
        $("#Room").attr("readonly", "readonly");
    });
    function Submit() {
        post('clientview', '@Request.Url.AbsoluteUri', $('#clientview form').serialize());
    }
    function Back() {
        loadCurPage('@(Request.Url.AbsoluteUri.Remove(Request.Url.AbsoluteUri.IndexOf("Order"))+"Client/View/"+Model.ClientId)');
    }
</script>
@section Main{
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.GroupId)
        @Html.HiddenFor(model => model.ClientId)
        <h3>签约信息</h3>
        <div class="ui-field-contain">
            <label for="ClientName">客户姓名</label>
            <input id="ClientName" name="ClientName" type="text" value="@Client.GetName(Model.ClientId)" disabled />
        </div>
        @Html.MyMobileTextFor(model => model.OrderTime)
        @Html.MyMobileTextFor(model => model.SignTime)
        @Html.MyMobileDateFor(model => model.CancelTime)
        @Html.MyMobileTextFor(m => m.Room)
        @Html.MyMobileTextAreaFor(model => model.Remark, 3)
        <input name="ismobile" value="true" type="hidden" />
        <p style="text-align:center">@MyControls.Btn("保存", "Submit();") @MyControls.Btn("取消", "Back();")</p>


    }
}