
@using RealEstateCRM.Web
@using RealEstateCRM.Web.BLL
@using OUDAL
@{
    var isProject = false; 
    var projectid = "";
    if (Request.RequestContext.RouteData.Values["projectid"] != null)
    {
        projectid = Request.RequestContext.RouteData.Values["projectid"].ToString();
        isProject = true;
    }
    else if(Request.Form["projectid"]!=null)
    {
        projectid = Request.Form["projectid"];
        isProject = true;
    }
}
<script>

</script>

<div data-role="header" data-add-back-btn="true" data-position="fixed" data-tap-toggle="false" align="center" data-theme="b" data-hide-during-focus="">
    @if (!isProject)
    {
        <h3>公司</h3>
        <a href="#menupage" class=" ui-btn-right" data-icon="gear" data-iconpos="right" data-transition="slide">菜单</a>
    }
    else
    {
        <h3>
            @DepartmentBLL.GetNameById(int.Parse(projectid))
        </h3>

        <a href="#menupage_@projectid" class=" ui-btn-right" data-icon="gear" data-iconpos="right" data-transition="slide">菜单</a>
    }</div>
<div data-role="content">
    @RenderBody()
    @RenderSection("Main", false)
    @RenderSection("View", false)
    @RenderSection("Footer", false)
</div>