<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/BootstrapCss")
    @Styles.Render("~/Content/redmond")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/BootstrapJs")
    @Scripts.Render("~/bundles/MyJs")
    @Styles.Render("~/Content/jqGrid/css")
    @Scripts.Render("~/bundles/jqGrid")
    @RenderSection("scripts", required: false)
<script type="text/javascript">
    var formsubmited = false;
    $(document).ready(function () {
        $("form").addClass("form-horizontal");
        $("form").submit(function () {
            if (formsubmited) {
                alert("请勿重复提交数据");
                return false;
            } else {
                formsubmited = true;
                setTimeout(function () { $("input:submit").disabled = true; }, 100);
                //$("body").html("<div>提交中...</div>");
                return true;
            }
        });
    });
</script>
</head>

<body>
@RenderBody()
</body>
</html>
