@model RealEstateCRM.Web.Models.LogOnModel

@{
    ViewBag.Title = "登录";
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<style type="text/css">
html,body{	}

#mainBody{
	width:900px;
	margin:0px auto;
	margin-top:20px;	
}
#mainBody div{	margin:5px 0px 5px 0px;
}
</style>

@Styles.Render("~/bundles/BootstrapCss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/redmond")
    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/BootstrapJs")
    @Scripts.Render("~/bundles/MyJs")
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="mainBody">

        <img style="display:none" src="@Url.Content("~/")Content/Images/logo800.png">
        <div style="width:460px;margin: 0px auto;">
            

            @using (Html.BeginForm()) {
                <div>
                    <fieldset>
                        <legend>登录</legend>

                        <div class="form-group">
                            <label for="UserName">用户名</label>
                            @Html.TextBoxFor(m => m.UserName,new {autofocus="autofocus"})
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div><p></p><p></p>
                        

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password) 
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
<p></p><p></p>
                        <p style="width: 60px;margin:auto">
                            <input type="submit" style="margin-left: -70px;width: 170px" class="btn btn-primary" value="确 定" />
                        </p>
                    </fieldset>
                </div>
            }@Html.ValidationSummary(true, "用户名或密码错误，请再试一次")
        </div>
    </div>
<script type="text/javascript">
    var rootpath = '@Url.Content("~")';
    var formsubmited=false;
    $(document).ready(function () {
        $("form").addClass("form-horizontal");

        $("input[type='text']").addClass("form-control");
        $("input[type='password']").addClass("form-control");
    });
        </script>
</body>
